<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://use.typekit.net/gdo1dpw.css">
    
    <link rel="stylesheet" href="https://use.typekit.net/gdo1dpw.css">
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#CB3837">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#E52620">
     <!-- iOS Safari -->
     <meta name="apple-mobile-web-app-status-bar-style" content="#E52620">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <link rel="apple-touch-icon" sizes="180x180" href="<%= BASE_URL %>apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>favicon-16x16.png">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">
 
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>canobo</title>
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.js"></script>
  </body>
</html>
